/*Background de chaque pages*/
#background {
    background-image:url('assets/fond.png');
}
/*Boutons*/
header#pages button{
    border: 1px solid rgb(0,0,128);
    background-color: rgb(55, 55, 201);
    cursor: pointer;
    color: white;
    font-size: 55px;
    margin: 0px;
    padding: 2px;
}
/*Guidage*/
#guidage{
    margin: 5px;
    padding: 5px;
}
/*Touts les gros titres h1*/
h1{
    text-align: center;
    font-size: 75px;
    color: white;
    text-shadow: 0 0 5px black;
}
/*Touts les gros titres h2*/
h2{
    text-align: center;
    font-size: 45px;
}
/*Navigations*/
nav{
    align-self:flex-start;
}
/*Zone de navigation à gauche*/
#navigation{
    flex-basis: 3in;
    flex-shrink: 0;
    border: 2px;
    border-radius: 5px;
    margin: 5px;
}
/*Titre de zone de navigation à gauche*/
#navigation header h3{
    font-size: 26px;
}
/*Ancres dans la zone de navigation à gauche*/
#navigation div{
    font-size: 24px;
}
/*Boutons*/
#pages{
    background-color: rgb(55, 55, 201);
    border: 1px solid rgb(0,0,128);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-shadow: 0 0 5px black;
}
/*Arrangement des boutons dans la page*/
#pages button{
    flex: 1 1 20%;
}
/*Texte dans le guidage*/
section#guidage div{
    font-size: 22px;
}
/*Support général*/
.support{
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
}