.background {
    background-image:url('other/fond.png');
}
#home{

}
h1{
    text-align: center;
    font-size: 75px;
    color: white;
    text-shadow: 0 0 5px black;
}
#pages{
    background-color: rgb(55, 55, 201);
    border: 1px solid rgb(0,0,128);
    color: white;
    display: flex;
    justify-content: space-around;
    text-shadow: 0 0 5px black;
}
#presentation{

}
#projet{
    
}
#references{

}
header#pages button{
    border: 1px solid rgb(0,0,128);
    background-color: rgb(55, 55, 201);
    cursor: pointer;
    color: white;
    font-size: 55px;
    margin: 0px;
    padding: 2px;
}
.support{
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
}
#youtube{

}