/*Titre news de la page index.html*/
article.news h1{
    text-align: center;
    font-size: 25px;
    color: white;
    text-shadow: 0 0 5px black;
}
/*Titre date news de la page index.html*/
article.news h2{
    margin-left: 5px;
    text-align: left;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 5px black;
}
/*Support du texte des news de la page index.html*/
article.news div.support{
    margin: 3px;
    padding: 2px;
}
/*Support du texte des news de la page index.html*/
article.news div.support p{
    font-size: 24px;
}
/*Guidage*/
#guidage{
    margin: 5px;
    padding: 5px;
}
/*Texte dans le guidage*/
section#guidage div{
    font-size: 22px;
}
/*Conteneur de news*/
#newsconteneur{
    display: inline-flex;
    flex-wrap: wrap;
}
/*Article dans les news*/
#newsconteneur article{
    flex: 1 1 45.7%;
}
/*News de la page index.html*/
.news{
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    margin: 15px;
}